@import "tailwindcss";

@theme {
  --color-pubg-yellow: #f2a900;
  --color-pubg-dark: #1a1a1a;
  --color-pubg-gray: #2d2d2d;
}

body {
  background-color: var(--color-pubg-dark);
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
